@mixin flexEnd() {
    display: flex;
    align-items: flex-end;
}

@keyframes moveUpDown{
    0% {
        top: 10px;
    }
    100% {
        top: 25px;
    }
}

.full_width_header_menu {
    width: 100%;
    border-bottom: 2px #eeeeee solid;
    display: flex;
    justify-content: center;
    height: 80px;

    .header_menu {
        @include flexEnd;
        justify-content: space-between;
        width: 70%;
        padding: 1rem;

        .left_side_header_menu {
            
            img {
                position: relative;
                animation: moveUpDown 3s ease-in-out 0s infinite alternate;
                border-radius: 50%;
                box-shadow: 0 0 13px black;
                width: 90px;
            }
        }

        .right_side_header_menu {
            @include flexEnd;
        }
    }
}

