.choose_kitchen_root {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .choose_kitchen_content {
        height: 200px;
    }
}
