.my_button {
    width: 145px;
    height: 36px;
    border-radius: 8px;

    strong {
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

.enabled {
    color: white;
    background-color: #d91a00;
    border: none;
    cursor: pointer;
}

.disabled {
    border: 1px #929292 solid;
    color: #929292;
}
