.sidebar {
    border: 2px #c4c4c4 solid;
    // border: 1px #000000 solid;
    width: 200px;
    min-height: 100px;
}

.parameters {
    width: 100%;
    color:#c4c4c4;
    vertical-align: middle;
    display: inline;
    line-height: 2rem;
}